/*general/index.html*/
nav {
	position: fixed;
	width: 20%;
	font-family: 'Open Sans', sans-serif;
	z-index: 9;

}
nav ul{
	list-style: none;
	z-index: 9;
}

a {
	text-decoration: none;
	color: #7FFF00;
	font-size: 400%;
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: black;
	font-family: 'Open Sans', sans-serif;
}

#index {
	background: url(images/jetti-bg.jpg) 30% no-repeat
;
	background-size: auto ;
	background-position: center;
}

#greeting {
	width: 600px;
}

#greeting h1{
	text-align: center;
	padding: 0;
	margin: 30px;
}

.content {
	background-color: white;
	opacity: 0.8;
	float: right;
	width: 70%;
	top: 0;
}
.content h1 {
	font-size: 400%;
}
.content img {
	width: 300px;
	height: auto;
	display: inline;
	position: relative;
	float: left;
}

/*about*/
#about {
	background: url(images/invertedsample.jpg);
	background-size: 99% auto;
} 
#about nav ul li a {
	color: #095be7;
}


.favs {
	display: inline;
	float: left;
	background: blue;
	width: 200px;
	margin: 20px 5%;
	opacity: 0.7;
}

/*contact*/
#contact {
	background: url(images/120bw.jpg);
	background-size: 90% auto;
}

.left-col{
	float: left;
	width: 300px;
	font-size: 100%;
	padding: 30% 10px;
}

.right-col{
	float: right;
	font-size: 100%;
	line-height: 150px;
	padding: 0 10px;
}

.right-col a img {
	width: 100px;
	height: 100px;
	padding: 30%;

}

#contact nav ul li a {
	color: #d0470c;
}

.button {
	font-size: 1.5em;
	color: black;
	font-family: monospace;
	border: 2px solid orange;
	border-radius: 3px;
	background: #d0470c;
}

/*links*/
#links {
	background: url(images/morticia-bg.jpg);
	background-size: 1000px;
	background-position: center;
}

#links a {
	color: #e3da0b;
}

#links .content ul {
	list-style-type: square;
}

#links .content ul li a {
	list-style-type: none;
	font-size: 250%;
}

/*gallery*/
#gallery nav ul li a {
	color: #8c09e7;
}

.gallery img {
	width: 200px;
	height: auto;
}

.gallery {
	width: 1000px;
}

#gallery img {
	float: left;
	width: 300px;
	height: auto;
	padding: 5px;
}